/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  border: none;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  font-family: "Lato", sans-serif;
  font-family: "Raleway", sans-serif;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.nav {
  position: fixed;
  width: 100%;
  padding-top: 34px;
  padding-bottom: 32px;
  background: rgba(16, 16, 29, 0.9);
}
@media (max-width: 830px) {
  .nav {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .nav {
    padding-top: 13px;
    padding-bottom: 11px;
  }
}

.nav__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 28px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.logo span {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 28px;
  text-transform: uppercase;
  color: #42A9ED;
}

.navigation-list ul {
  display: flex;
}
@media (max-width: 768px) {
  .navigation-list ul {
    display: none;
  }
}
.navigation-list li:not(:last-child) {
  margin-right: 60px;
}
.navigation-list a {
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  text-transform: uppercase;
  color: #FFFFFF;
  transition: 0.2s ease;
}
.navigation-list a.active, .navigation-list a:hover {
  color: #43ABF0;
}
@media (max-width: 768px) {
  .navigation-list a {
    font-size: 10px;
  }
}

.header {
  background: url(../img/header-img.jpg);
  background-size: cover;
  width: 100%;
  height: 100vh;
}
@media (max-width: 1200px) {
  .header {
    height: 75vh;
  }
}
@media (max-width: 950px) {
  .header {
    height: 55vh;
  }
}
@media (max-width: 670px) {
  .header {
    height: 45vh;
  }
}
@media (max-width: 580px) {
  .header {
    height: 39vh;
  }
}

.header__row {
  display: flex;
  align-items: center;
  width: 780px;
}
@media (max-width: 830px) {
  .header__row {
    width: auto;
  }
}

.header__text {
  margin-top: 203px;
}
@media (max-width: 1200px) {
  .header__text {
    margin-top: 150px;
  }
}
@media (max-width: 950px) {
  .header__text {
    margin-top: 116px;
  }
}
@media (max-width: 768px) {
  .header__text {
    margin-top: 98px;
  }
}
@media (max-width: 670px) {
  .header__text {
    margin-top: 65px;
  }
}
@media (max-width: 370px) {
  .header__text {
    margin-top: 62px;
  }
}
.header__text p {
  font-family: "Lato", sans-serif;
  padding-top: 80px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}
@media (max-width: 1200px) {
  .header__text p {
    padding-top: 50px;
  }
}
@media (max-width: 950px) {
  .header__text p {
    padding-top: 22px;
  }
}
@media (max-width: 670px) {
  .header__text p {
    font-size: 15px;
  }
}
@media (max-width: 580px) {
  .header__text p {
    font-size: 12px;
    padding-top: 7px;
  }
}
@media (max-width: 370px) {
  .header__text p {
    padding-top: 6px;
  }
}
.header__text ul {
  padding-top: 10px;
}
.header__text li {
  margin-left: 10px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}
@media (max-width: 670px) {
  .header__text li {
    font-size: 15px;
  }
}
@media (max-width: 580px) {
  .header__text li {
    font-size: 13px;
  }
}
@media (max-width: 580px) {
  .header__text li {
    line-height: normal;
  }
}

.header__title {
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  text-transform: uppercase;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.header__title span {
  color: #3E9CDC;
}
@media (max-width: 1200px) {
  .header__title {
    font-size: 40px;
  }
}
@media (max-width: 670px) {
  .header__title {
    font-size: 31px;
    line-height: normal;
  }
}
@media (max-width: 580px) {
  .header__title {
    font-size: 25px;
  }
}
@media (max-width: 450px) {
  .header__title {
    font-size: 20px;
  }
}

.header__btn {
  margin-top: 80px;
}
@media (max-width: 950px) {
  .header__btn {
    margin-top: 32px;
  }
}
@media (max-width: 670px) {
  .header__btn {
    margin-top: 22px;
  }
}

.header__order {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 13px;
  width: 183px;
  padding: 15px 10px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  border-radius: 4px;
  border: 1px solid #FFFFFF;
  color: white;
  background: #3E9CDC;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
@media (max-width: 950px) {
  .header__order {
    width: 157px;
    padding: 12px 5px;
  }
}
@media (max-width: 670px) {
  .header__order {
    width: 136px;
    padding: 10px 5px;
  }
}
@media (max-width: 580px) {
  .header__order {
    width: 111px;
    padding: 6px 5px;
  }
}

.header__more {
  font-family: "Lato", sans-serif;
  margin-left: 30px;
  font-weight: 400;
  font-size: 13px;
  width: 183px;
  padding: 15px 10px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  border-radius: 4px;
  border: 1px solid #6F6D7B;
  color: black;
  background: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: 0.2s ease;
}
@media (max-width: 950px) {
  .header__more {
    width: 157px;
    padding: 12px 5px;
  }
}
@media (max-width: 670px) {
  .header__more {
    width: 136px;
    padding: 10px 5px;
  }
}
@media (max-width: 580px) {
  .header__more {
    width: 111px;
    padding: 6px 5px;
  }
}
.header__more:hover {
  background-color: #3E9CDC;
  color: white;
  border: 1px solid #FFFFFF;
}

.form__btn {
  position: relative;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  width: 370px;
  padding: 15px 10px;
  font-size: 15px;
  line-height: 18px;
  align-items: center;
  text-transform: uppercase;
  background: #FFFFFF;
  border: 2px solid #3E9CDC;
  border-radius: 3px;
  color: #272733;
  transition: 0.2s ease;
}
@media (max-width: 580px) {
  .form__btn {
    width: 310px;
    padding: 6px 5px;
    font-size: 10px;
  }
}
@media (max-width: 370px) {
  .form__btn {
    width: 265px;
  }
}
.form__btn::before {
  content: "";
  background: url(../img/btn__form.svg);
  width: 17px;
  height: 20px;
  position: absolute;
  left: 80px;
}
.form__btn:hover {
  background-color: #3E9CDC;
  color: white;
  border: 2px solid #FFFFFF;
}

.form__submit {
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  width: 370px;
  margin-top: 40px;
  padding: 15px 10px;
  background: #3E9CDC;
  border: 1px solid #FFFFFF;
  border-radius: 4px;
  color: #FFFFFF;
  transition: 0.2s ease;
}
@media (max-width: 1200px) {
  .form__submit {
    margin-top: 20px;
  }
}
@media (max-width: 580px) {
  .form__submit {
    width: 310px;
    padding: 6px 5px;
    font-size: 10px;
  }
}
@media (max-width: 370px) {
  .form__submit {
    width: 265px;
  }
}

.content {
  background: url(../img/content-img.jpg);
  background-size: cover;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
}
@media (max-width: 670px) {
  .content {
    height: 90vh;
  }
}
@media (max-width: 580px) {
  .content {
    height: 83vh;
  }
}
@media (max-width: 400px) {
  .content {
    height: 100vh;
  }
}
@media (max-width: 370px) {
  .content {
    height: 85vh;
  }
}

.content__row {
  padding-top: 121px;
  align-items: center;
  text-align: center;
}
@media (max-width: 1200px) {
  .content__row {
    padding-top: 60px;
  }
}
@media (max-width: 768px) {
  .content__row {
    padding-top: 40px;
  }
}
@media (max-width: 670px) {
  .content__row {
    padding-top: 23px;
  }
}

.content__text p {
  font-family: "Lato", sans-serif;
  margin-top: 30px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #BBBBBB;
}
@media (max-width: 670px) {
  .content__text p {
    font-size: 15px;
    margin-top: 15px;
  }
}

.content__title {
  font-family: "Lato", sans-serif;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 43px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.content__title span {
  color: #3E9CDC;
}
@media (max-width: 670px) {
  .content__title {
    font-size: 31px;
  }
}

.content__list {
  display: flex;
  justify-content: space-between;
  margin-top: 77px;
}
@media (max-width: 830px) {
  .content__list {
    margin-top: 48px;
  }
}
@media (max-width: 670px) {
  .content__list {
    justify-content: space-around;
  }
}
@media (max-width: 370px) {
  .content__list {
    margin-top: 23px;
  }
}
.content__list p {
  font-family: "Lato", sans-serif;
  margin-top: 20px;
  padding-left: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}
@media (max-width: 995px) {
  .content__list p {
    font-size: 14px;
  }
}
@media (max-width: 670px) {
  .content__list p {
    display: none;
  }
}
.content__list li:not(:last-child)::before {
  content: "";
  position: absolute;
  margin-left: 118px;
  margin-top: 45px;
  width: 110px;
  height: 6px;
  background-image: url(../img/dot.svg);
}
@media (max-width: 1200px) {
  .content__list li:not(:last-child)::before {
    display: none;
  }
}
@media (max-width: 1200px) {
  .content__list img {
    height: 80px;
  }
}
@media (max-width: 670px) {
  .content__list img {
    height: 60px;
  }
}
@media (max-width: 370px) {
  .content__list img {
    height: 48px;
  }
}

.form__group1 {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1200px) {
  .form__group1 {
    display: inline-grid;
  }
}
@media (max-width: 995px) {
  .form__group1 {
    margin-top: 42px;
  }
}
.form__group1 input {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 18px;
  width: 370px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.85);
  border: 1px solid #FFFFFF;
  border-radius: 3px;
}
@media (max-width: 1200px) {
  .form__group1 input {
    margin-bottom: 10px;
  }
}
@media (max-width: 580px) {
  .form__group1 input {
    width: 310px;
    font-size: 15px;
  }
}
@media (max-width: 370px) {
  .form__group1 input {
    width: 265px;
  }
}
.form__group1 input::-moz-placeholder {
  color: #272733;
}
.form__group1 input:-ms-input-placeholder {
  color: #272733;
}
.form__group1 input::placeholder {
  color: #272733;
}

.form__group2 {
  margin-top: 30px;
}
@media (max-width: 1200px) {
  .form__group2 {
    margin-top: 0;
  }
}
.form__group2 p {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: left;
  padding-bottom: 12px;
  float: left;
  width: 770px;
  color: #FFFFFF;
}
@media (max-width: 1200px) {
  .form__group2 p {
    float: none;
    width: auto;
    text-align: center;
  }
}
@media (max-width: 580px) {
  .form__group2 p {
    font-size: 10px;
  }
}
@media (max-width: 370px) {
  .form__group2 p {
    font-size: 9px;
  }
}
.form__group2 span {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
}
@media (max-width: 580px) {
  .form__group2 span {
    font-size: 10px;
  }
}
.form__group2 span:not(:last-child) {
  margin-left: 394px;
}
@media (max-width: 1200px) {
  .form__group2 span:not(:last-child) {
    margin-left: 110px;
  }
}
.form__group2 input {
  float: left;
  width: 777px;
  margin-top: 10px;
}
@media (max-width: 1200px) {
  .form__group2 input {
    width: 370px;
    float: none;
  }
}
@media (max-width: 580px) {
  .form__group2 input {
    width: 310px;
  }
}
@media (max-width: 370px) {
  .form__group2 input {
    width: 265px;
  }
}
.form__group2 button {
  margin-left: 22px;
}
@media (max-width: 1200px) {
  .form__group2 button {
    margin-top: 20px;
    margin-left: 0;
  }
}

.slider {
  -webkit-appearance: none;
  height: 6px;
  border-radius: 5px;
  outline: none;
  opacity: 0.7;
  transition: opacity 0.2s;
  background: rgba(255, 255, 255, 0.7);
  border: 1px solid #FFFFFF;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #42A9ED;
  border: 3px solid #286690;
  cursor: pointer;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
.slider::-webkit-slider-thumb:hover {
  background: #ffffff;
}

.__select {
  position: relative;
  width: 370px;
}
@media (max-width: 1200px) {
  .__select {
    margin-bottom: 10px;
  }
}
@media (max-width: 580px) {
  .__select {
    width: 310px;
    font-size: 15px;
  }
}
@media (max-width: 370px) {
  .__select {
    width: 265px;
  }
}
.__select[data-state=active] .__select__title {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #FFFFFF;
  background: rgba(61, 64, 80, 0.85);
  border-radius: 3px 3px 0px 0px;
}
@media (max-width: 580px) {
  .__select[data-state=active] .__select__title {
    font-size: 15px;
  }
}
.__select[data-state=active] .__select__title::before {
  transform: translate(-2px, -50%) rotate(-45deg);
}
.__select[data-state=active] .__select__title::after {
  transform: translate(2px, -50%) rotate(45deg);
}
.__select[data-state=active] .__select__content {
  opacity: 1;
  color: #FFFFFF;
}
.__select[data-state=active] .__select__label + .__select__input + .__select__label {
  max-height: 40px;
}

.__select__title {
  display: flex;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  align-items: center;
  padding: 10px;
  background: rgba(255, 255, 255, 0.85);
  border-radius: 3px;
  cursor: pointer;
}
@media (max-width: 580px) {
  .__select__title {
    font-size: 15px;
  }
}
.__select__title::before, .__select__title::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 21px;
  display: block;
  width: 7px;
  height: 2px;
  transition: all 0.3s ease-out;
  transform: translate(-2px, -50%) rotate(45deg);
}
.__select__title::after {
  transform: translate(2px, -50%) rotate(-45deg);
}
.__select__title::before, .__select__title::after {
  background-color: #3E9CDC;
}

.__select__content {
  position: absolute;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 18px;
  overflow-y: auto;
  max-height: 170px;
  flex-direction: column;
  width: 100%;
  background: rgb(39, 39, 51);
  border: 1px solid #3D4050;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  transition: all 0.3s ease-out;
  opacity: 0;
  z-index: 8;
}

.__select__input {
  display: none;
}
.__select__input:checked + label {
  color: #42A9ED;
}
.__select__input:disabled + label {
  opacity: 0.6;
  pointer-events: none;
}

.__select__label {
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  max-height: 0;
  padding: 0 10px;
  transition: all 0.2s ease-out;
  cursor: pointer;
  overflow: hidden;
}
@media (max-width: 580px) {
  .__select__label {
    font-size: 15px;
  }
}
.__select__label:hover {
  color: #42A9ED;
}

.__select__content::-webkit-scrollbar {
  width: 7px;
}

.__select__content::-webkit-scrollbar-track {
  background: #3D4050;
  border-radius: 3px;
}

.__select__content::-webkit-scrollbar-thumb {
  height: 6px;
  border-radius: 3px;
  background: #3E9CDC;
}

.footer {
  background: #3D4050;
}

.footer__wrapper {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #FFFFFF;
}
@media (max-width: 768px) {
  .footer__wrapper {
    height: 90px;
    flex-direction: column;
  }
}
.footer__wrapper p {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}
@media (max-width: 1160px) {
  .footer__wrapper p {
    font-size: 9px;
  }
}
@media (max-width: 768px) {
  .footer__wrapper p {
    padding-bottom: 15px;
  }
  .footer__wrapper p:first-child {
    order: 1;
  }
}
.footer__wrapper p::after {
  content: "|";
  padding-left: 45px;
}
@media (max-width: 1200px) {
  .footer__wrapper p::after {
    padding: 15px;
  }
}
@media (max-width: 768px) {
  .footer__wrapper p::after {
    display: none;
  }
}
.footer__wrapper span {
  text-transform: uppercase;
}

.footer__buy {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #C3C3C3;
}
@media (max-width: 1160px) {
  .footer__buy {
    font-size: 9px;
  }
}
@media (max-width: 768px) {
  .footer__buy {
    padding-top: 10px;
    font-size: 14px;
  }
}
@media (max-width: 370px) {
  .footer__buy {
    font-size: 10px;
  }
}
.footer__buy a {
  padding: 0 30px 0 30px;
}
@media (max-width: 1200px) {
  .footer__buy a {
    padding: 0 0 0 7px;
  }
}
.footer__buy span {
  text-transform: uppercase;
}
.footer__buy a:hover {
  color: #3E9CDC;
}

.footer__soc {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #FFFFFF;
}
@media (max-width: 1160px) {
  .footer__soc {
    font-size: 9px;
  }
}
@media (max-width: 768px) {
  .footer__soc {
    font-size: 14px;
  }
}
@media (max-width: 370px) {
  .footer__soc {
    font-size: 10px;
  }
}
.footer__soc a:hover {
  color: #3E9CDC;
}
.footer__soc a:not(:last-child) {
  margin-right: 38px;
}
.footer__soc a:not(:last-child)::before {
  content: "|";
  padding-right: 38px;
  color: #FFFFFF;
}
@media (max-width: 1200px) {
  .footer__soc a:not(:last-child)::before {
    padding: 15px;
  }
}
@media (max-width: 768px) {
  .footer__soc a:not(:last-child)::before {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */