.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 28px;
    
    text-transform: uppercase;
    color: #FFFFFF;

    
}

.logo span {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 28px;
    text-transform: uppercase;
    color: #42A9ED;

    
}